:root {
  --primary: #16a34a;

  --secondary: #0f172a;

  --background: #f8fafc;

  --card: #ffffff;
}

body {
  margin: 0;

  font-family: Inter, sans-serif;

  background: var(--background);
}

.card {
  background: white;

  border-radius: 15px;

  padding: 25px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.btn-primary {
  background: var(--primary);

  color: white;

  border: none;

  border-radius: 10px;

  padding: 12px 20px;

  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.menu-item {
  transition: 0.25s;
}

.menu-item:hover {
  background: #334155;
}

.active-menu {
  background: #10b981;

  color: white;
}
